/* div h2{
    font-style: italic;
    animation-name: spinBorder;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

h2 + p{
    color: red;
}

ul.list > li{
    border-bottom: 1px grey solid;
    list-style: none;
}

@keyframes spinBorder{
    0% {border-top: 0px red solid;}
    10% {border-top: 4px red solid;}
    25% {border-left: 4px red solid;}
    50% {border-bottom: 4px red solid;}
    75% {border-right: 4px red solid;}
    100% {border: 0px red;}
} */

/* li a:link {
    color: green;
}

li a:visited {
    color: red;
}

li a:hover {
    color: pink;
}

li:first-child::first-letter{
    font-weight: bold;
    font-size: 120%;
}

a[title="BCIT homepage"] {
    background-color: yellow;
} */

/* img{
    float: left
}

p.below{
    clear: both;
} */